*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype'),
         url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#main{
    width: 100wv;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    background-color: whitesmoke;
}
#header{
    width: 90vw;
    height: 12vh;
    background-color: rgb(11, 10, 15);
    border-radius: 30px;
    margin-top: -6vh;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
#reg-login-div{
    position: absolute;
    right: 5%;
    top: 65%;
}
#registration-a{
    color: white;
    text-decoration: none;
    transition: color 0.2s;
}
#registration-a:hover{
    color: crimson;
}
#login-a{
    color: white;
    text-decoration: none;
    transition: color 0.2s;
}
#login-a:hover{
    color: crimson;
}
#avatar-name-div{
    position: absolute;
    right: 3%;
    top: 57%;
    display: flex;
    gap: 1vw;
}
#username-a{
    color: white;
    text-decoration: none;
    margin-top: 5%;
    cursor: pointer;
}
#messages-icon{
    background-image: url(images/messages.png);
    background-size: cover;
    width: 2vw;
    height: auto;
    aspect-ratio: 1 / 1;
    background-color: rgb(11, 10, 15);
    border: 0px;
    cursor: pointer;
}   
#user-avatar{
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 2vw;
    height: auto;
}
#user-avatar-img{
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    display: block;
}
#logout-a{
    background-image: url(images/logout-icon.png);
    background-size: cover;
    width: 2vw;
    height: auto;
    aspect-ratio: 1 / 1;
}
#logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 3.5vh;
    position: absolute;
    top: 57%;
    left: 3%;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}
#add-portfolio{
    background-image: url(images/add-icon.png);
    background-size: cover;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 2vw;
    height: auto;
}
#left-panel{
    width: 20vw;
    height: 90vh;
    background-color: rgb(11, 10, 15);
    margin-left: -17.5%;
    border-radius: 30px;
    position: fixed;
    top: 65%;
    transform: translateY(-65%);
    transition: margin-left 0.3s, box-shadow 0.3s;
}
#left-panel-links{
    display: flex;
    flex-direction: column; 
    gap: 5vh; 
    margin-left: 15%;
    margin-top: 20%;
}
.lp-link{
    color: white;
    font-size: 2.5vh;
    text-decoration: none;
    transition: color 0.3s;
}
.lp-link:hover{
    color: crimson;
}
#left-panel-move{
    width: 3vw;
    height: 4vh;
    background-color: rgb(11, 10, 15);
    background-image: url(images/left-panel-arrow.png);
    background-size: cover;
    position: absolute;
    right: 2%;
    top: 2%;
    border: 0px;
    transform: rotate(-90deg);
    transition: transform 0.3s;
    cursor: pointer;
}
#left-panel{
    width: 20vw;
    height: 90vh;
    background-color: rgb(11, 10, 15);
    margin-left: -17.5%;
    border-radius: 30px;
    position: fixed;
    top: 65%;
    transform: translateY(-65%);
    transition: margin-left 0.3s, box-shadow 0.3s;
}
#left-panel-links{
    display: flex;
    flex-direction: column; 
    gap: 5vh; 
    margin-left: 15%;
    margin-top: 20%;
}
.lp-link{
    color: white;
    font-size: 2.5vh;
    text-decoration: none;
    transition: color 0.3s;
}
.lp-link:hover{
    color: crimson;
}
#left-panel-move{
    width: 3vw;
    height: 4vh;
    background-color: rgb(11, 10, 15);
    background-image: url(images/left-panel-arrow.png);
    background-size: cover;
    position: absolute;
    right: 2%;
    top: 2%;
    border: 0px;
    transform: rotate(-90deg);
    transition: transform 0.3s;
    cursor: pointer;
}
#middle{
    width: 96.4vw;
    height: 90vh;
    border: 2px solid rgb(11, 10, 15);
    border-radius: 30px;
    margin-top: 6.6vh;
    margin-left: 3vw;
}
#middle-top{
    display: flex;
    margin-top: 3vh;
    margin-left: 2vw;
}
#upload-rules-a{
    text-decoration: none; 
    color: black;
    transition: color 0.3s;
}
#upload-rules-a:hover{
    color: crimson;
}